## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [86]:
from random import sample 
from random import random
from random import randint

# In the cell below, create a list named sample_list_1 with 80 random values.
Requirements:

Each value is an integer falling between 0 and 100.
Each value in the list is unique.
Print sample_list_1 to review its values

Hint: use random.sample (reference).

In [87]:
sample_list_1 = random.sample(range(1,100),80)

print(sample_list_1)
len(sample_list_1)

AttributeError: 'builtin_function_or_method' object has no attribute 'sample'

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 8z0?

In [90]:
set1 = set(sample_list_1)
len(set1) #good news LOL!

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [91]:
#comprehensive lists
sample_list_2 = [randint(0,100) for i in range(80)]
print(sample_list_2)

[42, 83, 68, 6, 66, 86, 47, 61, 52, 27, 41, 65, 24, 22, 5, 21, 19, 55, 94, 82, 21, 4, 21, 58, 79, 18, 35, 4, 36, 78, 11, 26, 79, 20, 5, 85, 72, 98, 69, 1, 51, 95, 80, 83, 13, 13, 89, 3, 2, 32, 67, 86, 34, 11, 62, 2, 46, 20, 60, 60, 63, 33, 85, 56, 52, 24, 84, 58, 83, 9, 70, 57, 79, 99, 45, 13, 30, 47, 53, 95]

In [92]:
#normal for loop

sample_list_2 = []

for i in range(80) :
    sample_list_2.append(randint(0,100))
print(sample_list_2)

[41, 50, 62, 3, 52, 14, 30, 92, 40, 45, 15, 1, 79, 18, 20, 25, 24, 52, 18, 55, 63, 50, 24, 85, 91, 97, 61, 60, 68, 43, 79, 50, 49, 44, 11, 95, 86, 71, 73, 22, 7, 24, 56, 45, 67, 61, 47, 6, 57, 48, 84, 92, 12, 36, 82, 22, 49, 60, 58, 24, 53, 57, 64, 76, 0, 99, 91, 69, 24, 24, 74, 18, 52, 61, 42, 100, 67, 16, 53, 70]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [93]:
# Your code here
set2 =set(sample_list_2)
len(set2) #nop - not unique elements

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [94]:
print(set1)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 30, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 58, 59, 60, 62, 64, 65, 67, 68, 69, 71, 72, 74, 75, 76, 77, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 93, 94, 95, 96, 97, 98, 99}

In [95]:
print(set2)

{0, 1, 3, 6, 7, 11, 12, 14, 15, 16, 18, 20, 22, 24, 25, 30, 36, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 52, 53, 55, 56, 57, 58, 60, 61, 62, 63, 64, 67, 68, 69, 70, 71, 73, 74, 76, 79, 82, 84, 85, 86, 91, 92, 95, 97, 99, 100}

In [96]:
set3 = set1.difference(set2) #are in set 1 but not in 2
print(set3)

{2, 4, 5, 8, 9, 10, 13, 17, 19, 21, 23, 27, 28, 32, 33, 34, 37, 38, 39, 46, 51, 54, 59, 65, 72, 75, 77, 80, 81, 83, 87, 88, 89, 90, 93, 94, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [97]:
set4 = set2.difference(set1) #are in set 2 but not in 1
print(set4)

{0, 100, 6, 70, 73, 43, 15, 79, 52, 86, 57, 91, 92, 61, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [98]:
set5 = set1.intersection(set2)
print(set5)

{1, 3, 7, 11, 12, 14, 16, 18, 20, 22, 24, 25, 30, 36, 40, 41, 42, 44, 45, 47, 48, 49, 50, 53, 55, 56, 58, 60, 62, 64, 67, 68, 69, 71, 74, 76, 82, 84, 85, 95, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [99]:
#P(set 1 and set2) = P(set3) + P(set4) +P(set6)
len(set1) + len(set2) == len(set3) + len(set4) + 2 * len(set5)

#i need to sum the intersection twice since P(set 1 + set2) is also double it

True

#### Create an empty set called `set6`.

In [100]:
set6 =set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [101]:
# Your code here
set6.update(set5,set3)
print(set6)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 30, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 58, 59, 60, 62, 64, 65, 67, 68, 69, 71, 72, 74, 75, 76, 77, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [102]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [103]:
set1.issubset(set2)

False

In [104]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [105]:
combo1 = set3.union(set4,set5)
combo2= set1.union(set2)

In [106]:
combo1 == combo2

True

#### Using the `pop` method, remove the first element from `set1`.

In [107]:
print(set1)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 30, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 58, 59, 60, 62, 64, 65, 67, 68, 69, 71, 72, 74, 75, 76, 77, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 93, 94, 95, 96, 97, 98, 99}

In [109]:
print(set1.pop())

1

In [124]:
set1 = {1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 30, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 58, 59, 60, 62, 64, 65, 67, 68, 69, 71, 72, 74, 75, 76, 77, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 93, 94, 95, 96, 97, 98, 99}
len(set1)

80

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [125]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

l = list(set1)
for item in l:
    if item in list_to_remove:
        newset1 = l.remove(item)
    else:
        continue

In [126]:
print(set(l))
len(set(l))

{2, 3, 4, 5, 7, 8, 10, 12, 13, 14, 16, 17, 18, 20, 22, 23, 24, 25, 27, 28, 30, 32, 33, 34, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 50, 53, 54, 55, 56, 58, 60, 62, 64, 65, 67, 68, 71, 72, 74, 75, 76, 77, 80, 82, 83, 84, 85, 87, 88, 90, 93, 94, 95, 96, 97, 98}

66